.search {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 46px 24px 24px;
  box-shadow: 0px 0px 10px 0px #00000026;
  border-radius: 8px;
  align-items: flex-end;
  background-color: white;
  width: 1047px;
  margin: 0 auto;
}

.button {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  background-color: #5cb85f;
  border: none;
  padding: 8px 12px;
  width: 92px;
  height: 38px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: Rubik;
  width: 208px;
  position: relative;
  padding: 0px;
}

.label {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  position: absolute;
  top: -18px;
}

.input {
  padding: 9px 12px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  border: 1px solid #cccccc;
}
