.our-service-wrapper {
  background-color: #ffffff;
  margin: 150px 0px 0px 0px;
}

.our-service {
  max-width: 1027px;
  height: 428px;
  flex-shrink: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-service-image {
  width: 459px;
  height: 428px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-service-text {
  width: 468px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.our-service-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 24px;
  color: #000;
  font-family: Arial;
}

.our-service-text p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 16px;
  color: #000;
  font-family: Arial;
}

.our-service-list li {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #000;
  font-family: Arial;
}

.our-service-list li::before {
  content: "\2714";
  color: #0d28a6;
  background-color: #cfd4ed;
  border-radius: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .our-service-image img {
    width: 250px;
  }

  .our-service-wrapper {
    margin-top: 75px;
  }
}

@media screen and (max-width: 450px) {
  .our-service {
    flex-direction: column;
    width: 350px;
    gap: 50px;
  }

  .our-service-image img {
    width: 350px;
  }

  .our-service-text {
    width: 370px;
  }

  .our-service-text ul {
    padding: 0;
  }
}
